/* ABOUT SECTION STYLES */ 

#about {
    .innerWrapper {
        position: relative;
    }
    h2 {
        margin-top: 0;
        position: absolute;
        left: 20px;
        z-index: 20;
        &::before {
            content: "";
            height: 110px;
            border-left: 2px solid $headingColor;
            position: absolute;
            top: -145px;
            left: 110px;
        }
    }
}

.aboutContent {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
    position: relative;
    z-index: 10;
    margin-top: 32px;
    .portrait {
        position: relative;
        z-index: 20;
        width: 40%;
        img {
            position: relative;
            z-index: 20;
            width: 100%;
        }
    }
    .aboutText {
        align-self: center;
        width: 52%;
        color: $headingColor;
    }
}