/* ABOUT SECTION STYLES */ 

#about {
    padding-bottom: 60px;
    .outerWrapper {
        @include media(480px) {
            width: 100%;
            padding: 0 30px;
        }
    }
    .innerWrapper {
        position: relative;
    }
    h2 {
        margin-top: 0;
        position: absolute;
        left: 20px;
        z-index: 20;
        animation-duration: 1s;
        @include media(480px) {
            left: 0;
        }
        &::before {
            content: "";
            height: 110px;
            border-left: 2px solid $mainColor;
            position: absolute;
            top: -145px;
            left: 110px;
            @include media(480px) {
                height: 90px;
                top: -115px;
                left: 55px;
            }
        }
    }
}

.aboutContent {
    display: flex;
    justify-content: space-between;
    position: relative;
    z-index: 10;
    margin-top: 32px;
    @include media(768px) {
        display: block;
    }
    .portrait {
        position: relative;
        z-index: 20;
        width: 40%;
        @include media(768px) {
            width: 100%;
        }
        img {
            position: relative;
            z-index: 20;
            width: 100%;
        }
    }
    .aboutText {
        align-self: center;
        width: 50%;
        color: $mainColor;
        @include media(768px) {
            width: 100%;
        }
        p {
            @include media(480px) {
                font-size: 1.5rem;
            }
        }
    }
}