/* ABOUT SECTION STYLES */ 

#about {
    h2 {
        margin-top: 0;
    }
}

.aboutContent {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
    .portrait {
        position: relative;
        z-index: 20;
        width: 40%;
        img {
            position: relative;
            z-index: 20;
            width: 100%;
        }
        &::after {
            content:"";
            width: 100%;
            height: 100%;
            background: #363636;
            position: absolute;
            z-index: 10;
            top: 15px;
            left: 15px;
        }
    }
    .aboutText {
        align-self: center;
        width: 52%;
        color: $aboutColor;
    }
}