/* CONTACT SECTION STYLES */ 

#contact {
    .wrapper {
        display: flex;
        flex-direction: column;
    }
    .email {
        font-size: 3rem;
        font-weight: 700;
        color: $headingColor;
        align-self: center;
    }
    .social {
        align-self: center;
        display: flex;
        li {
            margin: 20px;
        }
        a {
            color: $headingColor;
            font-size: 6rem;
        }
    }
}