/* CONTACT SECTION STYLES */ 

#contact {
    padding: 80px 0;
    @include media(768px){
        padding-top: 100px;
    }
    @include media(480px) {
        padding-bottom: 15px;
    }
    .outerWrapper {
        @include media(480px) {
            width: 100%;
            padding: 0 30px;
        }
    }
    .innerWrapper {
        display: flex;
        flex-direction: column;
    }
    h2 {
        margin-left: 20px;
        position: relative;
        @include media(768px){
            margin-bottom: 40px;
        }
        @include media(480px) {
            margin-left: 0;
        }
        &::before {
            content: "";
            height: 180px;
            border-left: 2px solid $headingColor;
            position: absolute;
            left: 110px;
            top: -220px;
            @include media(768px) {
                height: 100px;
                top: -125px;
            }
            @include media(480px) {
                height: 90px;
                top: -115px;
                left: 55px;
            }
        }
    }
    .email {
        font-size: 3rem;
        font-weight: 700;
        color: $headingColor;
        align-self: center;
        @include media(480px) {
            font-size: 2.4rem;
        }
    }
    .social {
        align-self: center;
        display: flex;
        li {
            margin: 20px;
        }
        a {
            color: $headingColor;
            font-size: 6rem;
        }
    }
}