/* GLOBAL STYLES */

// variables
$headingColor: #222;
$aboutColor: #777;
$textColor: #fff;
$backgroundColor: #6bd0e1;
$headingFont: 'Roboto', sans-serif;
$mainFont: 'Open Sans', sans-serif;

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: $mainFont;
}

h1,h2 {
    font-family: $headingFont;
}

h2 {
    text-transform: uppercase;
    font-weight: 400;
    margin-bottom: 90px;
    font-size: 4.5rem;
}

a {
    text-decoration: none;
}

p {
    line-height: 1.6;
    font-size: 1.8rem;
}

ul {
    list-style: none;
    padding: 0;
}

section {
    padding: 200px 0;
}

img {
    max-width: 100%;
    display: block;
}

.wrapper {
    width: 90%;
    max-width: 1180px;
    margin: 0 auto;
}
